<div class="jumbotron">
  <h3>List of Musics available... </h3>
  <h2><%= page_path(@conn, :index) %></h2>
  <h2><%= get_list() %></h2>
  <h2><a href="/">Home</a></h2>
</div>

<!-- 
<script src="<%= static_path(@conn, "/js/music.js") %>"></script>
<script>require("web/static/js/app")</script> -->